//Fully Responsive Page Header which is show on every page

header{
    z-index: 99;
    position: fixed;
    width: 100vw;
    top: 4vh;
    margin: auto;
    @include smartphone(){
        
    }
    .flex-container{
        width: 90%;
        margin: auto;
        padding: 1% 4%;
        border-radius: 50px;
        background-color: $transparent_grey;
        backdrop-filter: blur(10px);
        .logo{
            width: 12%;
            img{
                width: 100%;
            }
        }
        nav{
            ul{
                list-style: none;
                display: flex;
                li:not(:last-child){
                    margin-right: 2.5em;
                }
                li{
                    a{
                        font-size: 1em;
                    }
                }
            }
        }
    }
}