//Basic Layout Containers and Elements
body{
    font-family: "Poppins";
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None;
    cursor: none!important;
}

.base-section{
    height: 100vh;
}

.container{
    width: 90%;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
}

.flex-container{
    display: flex;
    flex-wrap:nowrap;
    align-items: center;
    justify-content: space-between;
    .flex-item{
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        @include smartphone(){
            width: 100%;
        }
    }
    .combi-item{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}