//SCSS Variables

//Colors
$black: #000000;
$white: #FFFFFF;
$dark_grey:#929292;
$light_grey: #C6C6C6;
$transparent_grey: #C6C6C630;
$primary_green: #B4D156;
$primary_pink: #FF958C;
$primary_orange: #F9B473;
$secondary_green: #BBD1B2;
$secondary_pink: #EE97AA;
$secondary_orange: #E5AD5A;

