//SCSS Variables

//Colors
$black: #000000;
$white: #FFFFFF;
$dark_grey:#929292;
$light_grey: #C6C6C6;
$transparent_grey: #C6C6C630;
$primary_green: #B4D156;
$primary_pink: #FF958C;
$primary_orange: #F9B473;
$secondary_green: #BBD1B2;
$secondary_pink: #EE97AA;
$secondary_orange: #E5AD5A;

//Background Gradients
$background-image-er:  
radial-gradient(at 84% 21%, hsla(5,100%,78%,0.8) 0, transparent 55%),  
radial-gradient(at 12% 79%, hsla(347,72%,77%,0.8) 0, transparent 53%);

$background-image-abm:  
radial-gradient(at 84% 21%, hsla(75,58%,58%,1) 0, transparent 55%),  
radial-gradient(at 12% 79%, hsla(103,26%,76%,1) 0, transparent 53%);

$background-image-oi:  
radial-gradient(at 84% 21%, hsla(30,92%,72%,1) 0, transparent 55%),  
radial-gradient(at 12% 79%, hsla(36,73%,63%,1) 0, transparent 53%);


