//Sorte Erdbeer Rhabarber 

//Landing Section
.landing-section-er{
    .flex-container{
        justify-content: center;
        height: 100%;
        .flex-item{
            height: 100%;
            h1{
                color:$font_grey;
                font-size: 9vw;
                font-weight: 800;
                line-height: 1em;
                @include smartphone(){
                    font-size: 14vw;
                }
                span{
                    width: 100%;
                    display:block;
                    opacity:0;
                    transform: translateY(50%) rotateX(-80deg);
                    transform-origin: center top;
                    transform-style: preserve-3d;
                    transition: opacity 0.8s cubic-bezier(.215,.61,.355,1),transform 1.2s cubic-bezier(.215,.61,.355,1);
                }
            }
        }
        .can-box{
            position: absolute;
            z-index: -10;
            left: 20%;
        }
    }
}

//Erdbeer Section
.ingredient-section-erdbeer{
    @include smartphone(){
        height: 50vh;
    }
    .flex-container{
        justify-content: space-between;
        width: 65%;
        height: 100%;
        @include smartphone(){
            justify-content: center;
            width: 85%;
            flex-direction: column;
        }
        .combi-item{
            z-index: 10;
            @include smartphone(){
                width: 90%;
                justify-content: center;
            }
            h2{
                color:$font_grey;
                font-size: 4em;
                font-weight: 800;
                line-height: 1em;
                margin-bottom: 10%;
                @include smartphone(){
                    font-size: 14vw;
                }
                span{
                    width: 100%;
                        display:block;
                        opacity:0;
                        transform: translateY(50%) rotateX(-80deg);
                        transform-origin: center top;
                        transform-style: preserve-3d;
                        transition: opacity 0.8s cubic-bezier(.215,.61,.355,1),transform 1.2s cubic-bezier(.215,.61,.355,1);
                }
            }
            p{
                color:$font_grey;
                line-height: 1.3;
                @include smartphone(){
                    font-size: 5vw;
                    line-height: 1.4;
                }
            }
        }
        .flex-item{
            canvas{
                opacity: 0;
                position: relative;
                top: 10;
                left: 10;
                display: block;  
                @include smartphone(){
                    display: none;
                }
            }
            .show{
                opacity: 1;
            }
        }
    }
}

//Rhabarber Section
.ingredient-section-rhabarber{
    @include smartphone(){
        height: 50vh;
    }
    .flex-container{
        justify-content: space-between;
        width: 65%;
        flex-direction: row-reverse;
        height: 100%;
        @include smartphone(){
            justify-content: center;
            width: 85%;
            flex-direction: column;
        }
        .combi-item{
            z-index: 10;
            @include smartphone(){
                width: 90%;
                justify-content: center;
            }
            h2{
                color:$font_grey;
                font-size: 4em;
                font-weight: 800;
                line-height: 1em;
                margin-bottom: 10%;
                @include smartphone(){
                    font-size: 14vw;
                }
                span{
                    width: 100%;
                        display:block;
                        opacity:0;
                        transform: translateY(50%) rotateX(-80deg);
                        transform-origin: center top;
                        transform-style: preserve-3d;
                        transition: opacity 0.8s cubic-bezier(.215,.61,.355,1),transform 1.2s cubic-bezier(.215,.61,.355,1);
                }
            }
            p{
                color:$font_grey;
                line-height: 1.3;
                @include smartphone(){
                    font-size: 5vw;
                    line-height: 1.4;
                }
            }
        }
        .flex-item{
            canvas{
                opacity: 0;
                position: relative;
                display: block;  
                @include smartphone(){
                    display: none;
                }
            }
            .show{
                opacity: 1;
            }
        }
    }
}

//Info Section
.info-section-er{
    @include smartphone(){
        height: 75vh;
    }
    .flex-container{
        justify-content: center;
        height: 100%;
        @include smartphone(){
            justify-content: center;
            width: 85%;
        }
        .flex-item{
            width: 70%;
            flex-direction: column;
            @include smartphone(){
                width: 90%;
                margin-left: 0;
            }
            h4{
                color:$font_grey;
                width: 100%;
                font-size: 4em;
                font-weight: 800;
                line-height: 1em;
                margin-bottom: 5%;
                text-align: left;
                @include smartphone(){
                    font-size: 14vw;
                }
            }
            img{
                width: 60%;
                border-radius: 15px;
                @include smartphone(){
                    width: 100%;
                }
            }
            p{
                color:$font_grey;
                font-size: 1.3em;
                font-weight: 400;
                line-height: 1.4em;
                text-align: left;
                margin-top: 5%;
                align-self: flex-end;
                width: 50%;
                @include smartphone(){
                    text-align: left;
                    font-size: 5vw;
                    line-height: 1.4em;
                    width: 100%;
                }
            }
        }
    }
}

//Background Gradient Classes
.color-red0{
    background-image: $background-image-prod-er-0;
    @include smartphone(){
        background-image: $background-image-prod-er-0-phone;
    }
}

.color-red1{
    background-image: $background-image-prod-er-1;
    @include smartphone(){
        background-image: $background-image-prod-er-1-phone;
    }
}

.color-red2{
    background-image: $background-image-prod-er-2;
    @include smartphone(){
        background-image: $background-image-prod-er-2;
    }
}

.color-red3{
    background-image: $background-image-prod-er-0;
    @include smartphone(){
        background-image: $background-image-prod-er-0-phone;
    }
}
