//Home Page

//Landing Section
.landing-section-home{
    .flex-container{
        justify-content: center;
        height: 100%;
        .flex-item{
            height: 100%;
            h1{
                font-size: 5.5em;
                font-weight: 800;
                line-height: 1em;
            }
        }
    }
}

//Product Section "Erdbeer-Rhabarber"
.product-section-er{
    .flex-container{
        height: 100%;
        .flex-item{
            img{
                width: 75% ;
            }
            .text-box{
                h2{
                font-size: 4.5em;
                font-weight: 800;
                line-height: 1em;
                    span{
                        width: 100%;
                        display:block;
                        opacity:0;
                        transform: translateY(50%) rotateX(-80deg);
                        transform-origin: center top;
                        transform-style: preserve-3d;
                        transition: opacity 0.8s cubic-bezier(.215,.61,.355,1),transform 1.2s cubic-bezier(.215,.61,.355,1);
                    }
                }
            }
            .bt-er{
                
            }
        }
    }
}

//Product Section "Apfel-Birne-Minze"
.product-section-abm{
    .flex-container{
        height: 100%;
        .flex-item{
            img{
                width: 75% ;
            }
            .text-box{
                h2{
                    font-size: 4.5em;
                    font-weight: 800;
                    line-height: 1em;
                        span{
                            width: 100%;
                            display:block;
                            opacity:0;
                            transform: translateY(50%) rotateX(-80deg);
                            transform-origin: center top;
                            transform-style: preserve-3d;
                            transition: opacity 0.8s cubic-bezier(.215,.61,.355,1),transform 1.2s cubic-bezier(.215,.61,.355,1);
                        }
                }
            }
            .bt-abm{
                
            }
        }
    }
}

//Product Section "Orange Ingwer"
.product-section-oi{
    .flex-container{
        height: 100%;
        .flex-item{
            img{
                width: 75% ;
            }
            .text-box{
                h2{
                    font-size: 4.5em;
                    font-weight: 800;
                    line-height: 1em;
                        span{
                            width: 100%;
                            display:block;
                            opacity:0;
                            transform: translateY(50%) rotateX(-80deg);
                            transform-origin: center top;
                            transform-style: preserve-3d;
                            transition: opacity 0.8s cubic-bezier(.215,.61,.355,1),transform 1.2s cubic-bezier(.215,.61,.355,1);
                        }
                }
            }
            .bt-oi{
                
            }
        }
    }
}

//Background Classes
.color-red{
    background-image: $background-image-er;
}
.color-green{
    background-image: $background-image-abm;
}
.color-orange{
    background-image: $background-image-oi;
}
 
//Text Effect Class
.in-view .letters{
    opacity: 1 !important;
    transform: none !important;
}
.in-view .letters:nth-child(2){
    transition-delay: 0.3s!important;
}