//Home Page

//Landing Section
.landing-section-home{
    .flex-container{
        justify-content: center;
        height: 100%;
        .flex-item{
            height: 100%;
            h1{
                font-size: 5.5em;
                font-weight: 800;
                line-height: 1em;
            }
        }
    }
}

//Product Section "Erdbeer-Rhabarber"
.product-section-er{
    background-image: $background-image-er;
    .flex-container{
        height: 100%;
    }
}