//Home Page

//Landing Section
.landing-section-home{
    .bgvideo{
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 1;
        transition: opacity 0.1s ease;
    }
    .flex-container{
        justify-content: center;
        height: 100%;
        .flex-item{
            height: 100%;
            h1{
                font-size: 9vw;
                font-weight: 800;
                line-height: 1em;
                @include smartphone(){
                    font-size: 14vw;
                }
                span{
                    width: 100%;
                    display:block;
                    opacity:0;
                    transform: translateY(50%) rotateX(-80deg);
                    transform-origin: center top;
                    transform-style: preserve-3d;
                    transition: opacity 0.8s cubic-bezier(.215,.61,.355,1),transform 1.2s cubic-bezier(.215,.61,.355,1);
                }
            }
        }
    }
}

//Product Section "Erdbeer-Rhabarber"
.product-section-er{
    .flex-container{
        height: 100%;
        @include smartphone(){
            flex-direction: column-reverse;
            width: 80%;
        }
        .flex-item{
            canvas{
                position: relative;
                top: 0;
                left: 0;
                display: block;
            }
            .text-box{
                h2{
                font-size: 4.5em;
                font-weight: 800;
                line-height: 1em;
                @include smartphone(){
                    font-size: 14vw;
                }
                    span{
                        width: 100%;
                        display:block;
                        opacity:0;
                        transform: translateY(50%) rotateX(-80deg);
                        transform-origin: center top;
                        transform-style: preserve-3d;
                        transition: opacity 0.8s cubic-bezier(.215,.61,.355,1),transform 1.2s cubic-bezier(.215,.61,.355,1);
                    }
                }
            }
            .bt-er{
                background: $transparent_grey;
                backdrop-filter: blur(10px);
            }
            .bt-er::before{
                background: $secondary_pink;
            }
        }
    }
}

//Product Section "Apfel-Birne-Minze"
.product-section-abm{
    .flex-container{
        height: 100%;
        @include smartphone(){
            flex-direction: column-reverse;
            width: 80%;
        }
        .flex-item{
            canvas{
                position: relative;
                top: 0;
                left: 0;
                display: block;
                
            }
            .text-box{
                h2{
                    font-size: 4.5em;
                    font-weight: 800;
                    line-height: 1em;
                    @include smartphone(){
                        font-size: 14vw;
                    }
                        span{
                            width: 100%;
                            display:block;
                            opacity:0;
                            transform: translateY(50%) rotateX(-80deg);
                            transform-origin: center top;
                            transform-style: preserve-3d;
                            transition: opacity 0.8s cubic-bezier(.215,.61,.355,1),transform 1.2s cubic-bezier(.215,.61,.355,1);
                        }
                }
            }
            .bt-abm{
                background: $transparent_grey;
                backdrop-filter: blur(10px);
            }
            .bt-abm::before{
                background: $secondary_green;
            }
        }
    }
}

//Product Section "Orange Ingwer"
.product-section-oi{
    .flex-container{
        height: 100%;
        @include smartphone(){
            flex-direction: column-reverse;
            width: 80%;
        }
        .flex-item{
            canvas{
                position: relative;
                top: 0;
                left: 0;
                display: block;
            }
            .text-box{
                h2{
                    font-size: 4.5em;
                    font-weight: 800;
                    line-height: 1em;
                    @include smartphone(){
                        font-size: 14vw;
                    }
                        span{
                            width: 100%;
                            display:block;
                            opacity:0;
                            transform: translateY(50%) rotateX(-80deg);
                            transform-origin: center top;
                            transform-style: preserve-3d;
                            transition: opacity 0.8s cubic-bezier(.215,.61,.355,1),transform 1.2s cubic-bezier(.215,.61,.355,1);
                        }
                }
            }
            .bt-oi{
                background: $transparent_grey;
                backdrop-filter: blur(10px);
            }
            .bt-oi::before{
                background: $primary_orange;
            }
        }
    }
}

//Background Classes
.color-red{
    background-image: $background-image-er;
}
.color-green{
    background-image: $background-image-abm;
}
.color-orange{
    background-image: $background-image-oi;
}
 
//Text Effect Class
.in-view .letters{
    opacity: 1 !important;
    transform: none !important;
}
.in-view .letters:nth-child(2){
    transition-delay: 0.2s!important;
}
.in-view .letters:nth-child(3){
    transition-delay: 0.4s!important;
}