//Impress and Privacy Page

.impress-section{
    .flex-container{
        padding-top: 15%;
        padding-left: 4%;
        padding-right: 4%;
        flex-wrap: wrap;
        h1{
            font-weight: 800;
            font-size: 5.5em;
            width: 100%;
            @include smartphone(){
                font-size: 12vw;
            }
            @include tablet(){
                font-size: 4.5em;
            }
        }
        .flex-item{
            width: 100%;
            justify-content: flex-end;
            margin-top: 7%;
            @include smartphone(){
                margin-top: 15%;
                margin-bottom: 15%;
                font-size: 1.1rem;
            }
            @include tablet(){
                margin-top: 10%;
                margin-bottom: 15%;
                font-size: 1.1rem;
            }
            div{
                width: 60%;
                @include smartphone(){
                    width: 100%;
                }
                @include tablet(){
                    width: 70%;
                }
                p{
                    line-height: 1.5;
                }
                h3{
                    font-weight: 600;
                    margin-bottom: 5px;
                }
            }
            div:not(:last-child){
                margin-bottom: 3%;
            }
        }
    }
}

