//Pre-Loading Screen on top of Home Page

.loading-screen{
    width: 100vw;
    z-index: 999;
    position: fixed;
    top:0;
    left:0;
    background-color:white;
    .flex-container{
        justify-content:center;
        height: 100%;
        flex-direction: column;
        img{
            width: 50%;
        }
        .bt-loading{
            opacity:0;
        }
        .bt-ready{
            opacity: 1 !important;
        }
        p{
            font-size: 1rem;
            text-align: center;
            width: 40%;
            font-weight: 400;
        }
    }
}
.remove{
    display: none;
}
